
* {
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Bree Serif', serif;
}

body a {
	text-decoration: none;
	text-transform: uppercase;
}

body #sajt {
	width: 100%;
	height: 100%;
}

body #sajt #belo {
	height: 100%;
	width: 75%;
	float: right;
}

body .cleaner {
	clear: both;
}

body #sajt nav {
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cf897a !important;
	float: left;
	position: fixed;
	text-align: center;
}

body #sajt nav ul li img {
		width: 60%;
		border-radius: 50px 0px 50px 0px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

body #sajt	nav ul {
		list-style: none;
	}

body #sajt nav ul li {
			margin-bottom: 15px;
		}

body #sajt nav ul li a {
		color: #6f2f14;
		font-weight: bold;
		font-size: 1.5Vw;
	}

body #sajt nav ul li a:active {
			color: #ffe4c4 !important;
		}

body #sajt nav ul li a:hover {
		color: #ffe4c4;
	}
body #sajt nav ul li p {
		color: #6f2f14;
		font-weight: bold;
		font-size: 1.5Vw;
		text-transform:uppercase;
	}
body #sajt #belo .isto {
	width: 100%;
	height: 48Vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #6f2f14;
	margin-bottom: 3.6Vw;
}

body #sajt #belo .isto .container {
	width: 90%;
	height: auto;
}
	body #sajt #belo #experience .container {
		width: 90%;
		height: 40Vw;
	}
	body #sajt #belo #experience .container .text {
		width: 100%;
		height: auto;
		margin-bottom: 3Vw;
	}

	body #sajt #belo #experience .container .text .date {
		float: right;
		text-align: center;
		font-size: 1.46Vw;
		color: #cf897a;
		width: 40%;
	}
	body #sajt #belo #experience .container .text .heading{
		width:60%;
	}
		body #sajt #belo #experience .container .text .heading p {
			width: 100%;
		}
	body #sajt #belo .isto .container #tekst #ime {
		width: 80%;
		height: 12.1Vw;
	}

body #sajt #belo .isto .container #tekst #ime p {
		color: black;
		text-transform: uppercase;
		font-size: 5Vw;
	}
	body #sajt #belo .isto .container #slika img{
		display:none;
	}
	body #sajt #belo .isto .container #text #podaci {
		width: 100%;
		height: 7.3Vw;
	}

body #sajt #belo .isto .container #tekst #podaci p span {
	color: #cf897a;
}

body #sajt #belo .isto .container  #tekst #podaci p {
		color: black;
		text-transform: uppercase;
		font-size: 1.8Vw;
	}

body #sajt #belo .isto .container #tekst #podaci p a span:hover {
		color: #6f2f14;
		text-decoration: underline;
	}

body #sajt #belo .isto .container .text {
		width: 100%;
		height: auto;
		margin-bottom: 6Vw;
	}

	body #sajt #belo .isto .container .text h1 {
		text-transform: uppercase;
		font-size: 3.66Vw;
	}

	body #sajt #belo .isto .container .text .heading {
		width: 70%;
		float: left;
		height: auto;
		margin-bottom:0px;!important;
	}

		body #sajt #belo .isto .container .text .heading h3 {
			text-transform: uppercase;
			font-size: 1.8Vw;
			margin-bottom: 1.8Vw;
		}

		body #sajt #belo .isto .container .text .heading p {
			font-size: 1.46Vw;
			font-weight: lighter;
			margin-left: 5%;
		}

		body #sajt #belo .isto .container .text .date {
			float: right;
			text-align: center;
			font-size: 1.46Vw;
			color: #cf897a;
			width:30%;
}
			
			body #sajt #belo #skills {
				padding-top: 0%;
				width: 100%;
			}

body #sajt #belo .isto .container #skills-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20%;
	height: 100%;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-content: center;
}
	body #sajt #belo .isto .container #skills-container .klasa-skills .skills-num {
		padding-left: 40%;
		font-size: 2Vw;
	}
body #sajt #belo .isto .container #skills-container .klasa-skills {
	width: 24.5%;
	height: 20Vw;
}
	body #sajt #belo .isto .container #skills-container .klasa-skills img {
		height: 15vw;
		width: 80%;
		margin-left: 10%;
		margin-top: 10%;
	}
body #sajt #belo .isto .container .heading ul li {
	font-size: 1.6Vw;
	margin-bottom: 15px;
	margin-left: 20px;
}
body #sajt #belo #hobbies.isto {
	margin-bottom: 0px;
	!important;
	border-bottom: white;
	!important;
}

body #sajt #belo #footer {
	width:100%;
	height: 5.12Vw;
	background-color: #ffe4c4;
	position:relative;
}
	body #sajt #belo #footer p {
		float: left;
		font-size: 1.46Vw;
		margin-top: 1.8Vw;
		margin-left: 1.8Vw;
		color: #6f2f14;
	}
	body #sajt #belo #footer #ikonice{
		float:right;
		margin-right:1.8Vw;
		margin-top:0.73Vw;
	}
		body #sajt #belo #footer #ikonice a {
			font-size: 2.2Vw;
			margin-right: 0.73Vw;
			color: #6f2f14;
		}
	body #sajt #belo .isto .container .text #text {
		text-indent: 5%;
	}
	body #sajt #belo .isto .container .text #text p{
		margin-bottom:1Vw;
	}
