*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    @media(min-width: 1441px){
      font-size: 40px;
    }
    @media(max-width: 426px){
      font-size: 10px;
    }
}
#cover{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 91vh;
}
#coverText{
    color: white;
    padding-top: 35vh;
    width: 40%;
}
.stepper-wrapper {
    margin-top: auto;
    margin-bottom: 20px;
    /* margin-left: 10%; */
  }
  .stepper-item {
    position: relative;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 40px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 40px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  

  .stepper-item.completed .step-counter {
    background-color: #7fd679;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #7fd679;
    width: 100%;
    top: 40px;
    left: 50%;
    z-index: 3;
  }
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  .vestina{
    box-shadow: 5px 10px 10px 5px rgb(20, 20, 20); 
}
.kontakt p{
  margin-left: 2%;
}
.center{
  color: white;
  /* height: 350px; */
}
.center img{
  width: 100%;
  height: 400px;
}
/* #obrazovanje{
  height: 80vh;
} */
.stepper-wrapper{
  padding-top: 5%;
}
.center {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverText {
  width: 80%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.center:hover .image {
  opacity: 0.3;
}

.center:hover .hoverText {
  opacity: 1;
}
@media (min-width: 1441px){
  .stepper-item::before, .stepper-item.completed::after {
    top: 75px;
  }
  .stepper-item .step-counter{
    width: 150px;
    height: 150px; 
  }
}
@media(max-width: 426px){
  #slikaAutor{
    height: 400px;
  }
  #cover{
    height: 50vh;
  }
  #coverText{
    padding-top: 10vh;
  }
  .step-counter{
    font-size: 18px;
  }
}